<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sudoku Solution</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&family=Orbitron:wght@400..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <h1>Sudoku Solution</h1>
    <div class="card-container">
        <pre>{{ sudoku_solution }}</pre>
    </div>
    <form action="/return" method="get">
        <button type="submit" class="glowing-btn" name="option" value="return">
            <span class="glowing-txt">Return</span>
        </button>
    </form>

</body>

</html>